<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>그는 훈련소에 들어갔다</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

    <div class="jumbotron text-center">
      <h1>어서오세요!!</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>편지 쓰러 가기</h3>
          <p>
              <a href="www.naver.com"><span> 이 곳을 내 주소로 바꿔주세요 </span></a>

              <img>
          </p>
        </div>
        <div class="col-sm-4">
          <h3>편지에 쓸 만한 글</h3>
          <p>
              뭐라고 쓸 지 모르시겠다구요?
              <br> 그럴 줄 알고 편지에 쓸 만한 글들의 링크를 준비해
              <br> 복사해서 붙여넣기만 하세요!
              <br> <br> <a href="www.naver.com"><span> 네이버 </span></a>
          </p>
        </div>
        <div class="col-sm-4">
          <h3>감사의 말</h3>
          <p>당신이 써 준 한장의 편지는 평생 버리지 않고 간직하겠습니다.</p>
        </div>
      </div>
    </div>

</body>


</html>
